[submodule "bimanual_ws/src/src/ros_control"]
	path = bimanual_ws/src/src/ros_control
	url = https://github.com/ros-controls/ros_control.git
	branch = noetic-devel
[submodule "bimanual_ws/src/ros_control"]
	path = bimanual_ws/src/ros_control
	url = https://github.com/ros-controls/ros_control.git
	branch = noetic-devel
