<?xml version="1.0"?>
<launch>

  <!-- Load joint controller configurations from YAML file to parameter server -->
  <rosparam file="$(find allegro_hand_moveit_right)/config/ros_controllers.yaml" command="load"/>

  <!-- Load the controllers -->
  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
    output="screen" args="Index_finger_controller Middle_finger_controller Ring_finger_controller Thumb_controller HAND_controller "/>

</launch>
