<?xml version="1.0"?>
<launch>

  <!--
    The official Franka dual-arm example expects hardware IDs
    panda_1 and panda_2.

    Physical mapping:
      panda_1 = right Panda  = 172.16.0.10
      panda_2 = left Panda = 172.16.0.20
  -->

  <arg
    name="robot_ips"
    default="{panda_1/robot_ip: 172.16.0.10, panda_2/robot_ip: 172.16.0.20}"/>

  <include
    file="$(find franka_example_controllers)/launch/dual_arm_cartesian_impedance_example_controller.launch">

    <arg
      name="robot_ips"
      value="$(arg robot_ips)"/>

  </include>

</launch>
