[submodule "allegro_hand_ros_v5"]
	path = allegro_hand_ros_v5
	url = https://github.com/Wonikrobotics-git/allegro_hand_ros_v5.git
[submodule "franka_ros"]
	path = franka_ros
	url = https://github.com/frankarobotics/franka_ros
